header
    position: fixed
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #000
    color: white
    z-index: 300

.navbar
    display: flex
    align-items: center
    &__brand
        &_logo
            width: 80px
            height: 50px
            margin-left: 50px
    &__menu
        display: block
        user-select: none
        &_link
            user-select: none
            height: 50px
            padding: 15px
            font-size: 16px
            text-transform: uppercase
            letter-spacing: 1px
            font-weight: 700
            &:hover
                background-color: white
                color: black
    &__login
        opacity: 0.5
        margin-right: 20px
        &:hover
            opacity: 1
            transition-duration: 0.3s
        &_link
            display: flex
            align-items: center
            text-transform: uppercase
            font-weight: 700
            letter-spacing: 1px
        &_img
            width: 30px
            margin: 0 10px

.navbar__mobile
    display: none
    #check-menu
        display: none
        &:checked ~ .burger-line:first-of-type
            display: none
        &:checked ~ .burger-line:nth-child(odd)
            transform: rotate(45deg)
        &:checked ~ .burger-line:nth-child(even)
            transform: rotate(-45deg)
        &:checked ~ .burger-line:last-of-type
            display: none
        &:checked ~ nav
            max-height: 500px
            font-size: 14px
    label
        display: block
        width: 100vw
        height: 50px
        cursor: pointer
    .burger-line
        position: absolute
        top: 25px
        right: 20px
        width: 40px
        height: 2px
        background-color: #fff
        transition: 0.2s all
        &:first-of-type
            top: 15px
        &:last-of-type
            top: 35px
    &-menu
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: absolute
        left: 0
        width: 100%
        max-height: 0
        font-size: 0
        overflow: hidden
        transition: 0.5s all
        background-color: black
        &_link
            display: block
            text-align: center
            width: 100%
            padding: 15px
            text-decoration: none

@media screen and ( max-width: 800px )
    .navbar
        &__brand_logo
            margin-left: 20px
        &__menu
            display: none
        &__login_link
            display: none
        &__mobile
            display: block
