@import "./clear"
@import './header'
@import "./footer"
// @import "./fonts"

main
    padding: 50px 0
    min-height: (calc( 100% - 250px ))
    // 250px высота футера

.container
    padding: 0 20px
    max-width: 920px
    margin: 0 auto

.overlay
    user-select: none
    position: absolute
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    background-color: rgba(0,0,0,0.5)
    color: white
    cursor: pointer
    img
        width: 20px
        margin-right: 10px

.tabs
    font-size: 10px
    padding-bottom: 14px
    &__links
    &__link
        user-select: none
        font-weight: 400
        padding: 6px 1.2em
        font-size: 2em
        margin: 0 1em
        border-bottom: 6px solid #373943
    &__block
        display: none
    &__block:first-of-type
        display: block
    .active
        border-bottom: 6px solid #4b60b5
    .disabled
        color: gray

.game
    &__header
        font-size: 10px
        display: flex
        align-items: center
        flex-direction: column
        background-color: #373943
        &_info
            display: flex
            margin: 30px 0
            align-items: center
            color: white
        &_img
            width: 10em
            height: 10em
            border-radius: 100px
            object-fit: cover
        &_title
            font-size: 3em
            margin-left: 20px
    &__block
        overflow-x: auto
        padding-top: 20px
        background-color: #b0b0b0
        text-align: center
    &__content
        position: relative
        display: inline-block
        vertical-align: middle
        iframe
            display: block
    &__description
        font-size: 10px
        &_header
        &_content
            font-size: 2em
    &__screenshots
        font-size: 10px
        &_header
        &_content
            display: flex
            flex-wrap: wrap
            align-items: center
            .screenshot
                width: 40em
                height: 25em
                object-fit: cover
                margin: 15px
    &__trailers
        font-size: 10px
        &_header
        &_content
            display: flex
            align-items: center
            flex-wrap: wrap
            .trailer
                width: 40em
                height: 25em
                margin: 15px
                object-fit: cover

.ads
    display: block
    width: 260px
    height: 400px
    background: linear-gradient(90deg, rgba(17,173,148,1) 0%, rgba(4,230,193,1) 100%)
    &__side
        display: block
        width: 460px
        padding: 0 100px
    &__left
        &_container
            vertical-align: middle
    &__right
        &_container
            vertical-align: middle
    &__bottom
        width: 720px
        height: 240px
        &_container
            padding: 100px 0
            margin: 0 auto

.section-header
    text-transform: uppercase
    font-size: 2em
    padding: 30px 0
    font-weight: 600

.news
    font-size: 20px
    padding: 0 20px
    &__container
        max-width: 720px
        margin: 0 auto
    &__header
        padding: 30px 0
        font-weight: 700
        font-size: 1.5em
        text-align: center
    &__author
        text-align: center
        &_name
            color: blue
            cursor: pointer
    &__date
        text-align: center
        margin-bottom: 30px
    &__content
        text-align: left

@media screen and ( max-width: 830px )
    .tabs__link
        margin: 0
    .game
        &__header
            font-size: 10px
        &__trailers
            font-size: 8px
        &__screenshots
            font-size: 8px
        &__description
            font-size: 8px
    .news
        font-size: 15px

@media screen and ( max-width: 720px )
    .ads__bottom
        width: 100%
    .section-header
        padding: 20px 0

@media screen and ( max-width: 400px )
    .tabs
        font-size: 7px
        &__link
            margin: 0
    .game
        &__header
            font-size: 7px
            &_info
                margin: 20px 0
        &__trailers
            font-size: 5px
        &__screenshots
            font-size: 5px
        &__description
            font-size: 7px
    .section-header
        font-size: 15px
    .news
        font-size: 10px
