@import "./clear"
@import './header'
@import "./footer"
// @import "./fonts"

main
    padding: 50px 0
    min-height: (calc( 100% - 250px ))
    // 250px высота футера

.container
    max-width: 1190px
    margin: 0 auto

.overlay
    position: absolute
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    background-color: rgba(0,0,0,0.5)
    color: white
    cursor: pointer

.tabs
    padding-bottom: 14px
    &__links
    &__link
        font-weight: 400
        font-size: 30px
        padding: 6px 40px
        margin: 0 30px
        border-bottom: 6px solid #373943
    &__block
        display: none
    &__block:first-of-type
        display: block
    .active
        border-bottom: 6px solid #4b60b5
    .disabled
        color: gray

.game
    &__header
        display: flex
        align-items: center
        flex-direction: column
        background-color: #373943
        &_info
            display: flex
            margin: 40px 0
            align-items: center
            color: white
        &_img
            width: 140px
            height: 140px
            border-radius: 100px
            object-fit: cover
        &_title
            font-size: 48px
            margin-left: 20px
    &__block
        padding-top: 20px
        background-color: #b0b0b0
        margin-bottom: 20px
    &__content
    &__description
        &_header
        &_content
            font-size: 30px
    &__screenshots
        &_header
        &_content
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            .screenshot
                width: 560px
                height: 330px
                object-fit: cover
    &__trailers
        &_header
        &_content
            .trailer
                width: 560px
                height: 330px

.section-header
    text-transform: uppercase
    font-size: 30px
    padding: 50px 0
    font-weight: 600

cf-left-game-cont,
cf-right-game-cont
    display: inline-block
    width: 460px
    padding: 0 100px
    box-sizing: border-box

cf-ads-block
    display: block
    width: 260px
    height: 400px
    background-color: rgb(255,100,100)

cf-game-cont
    position: relative
    display: inline-block

cf-game-cont > iframe
    display: block

.cont_with_game
    text-align: center

    &>cf-left-game-cont,

    &>cf-game-cont,

    &>cf-right-game-cont
        vertical-align: middle

.footer_ads
    padding: 100px 0

    & > cf-ads-block
        width: 720px
        height: 240px
        margin: 0 auto

        width: 100%

.news
    font-size: 20px
    &__container
        width: 720px
        margin: 0 auto
    &__header
        padding: 30px 0
        font-weight: 700
        font-size: 30px
        text-align: center
    &__author
        text-align: center
        &_name
            color: blue
            cursor: pointer
    &__date
        text-align: center
        margin-bottom: 30px
    &__content
        text-align: left
